body {
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  background-color: #26355d;
  font-style: normal;
}

/* Custom styles for responsiveness */
.col-12 {
  padding: 0;
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px) rotate(-5deg);
  }
  50% {
    transform: translateX(5px) rotate(5deg);
  }
  75% {
    transform: translateX(-5px) rotate(-5deg);
  }
  100% {
    transform: translateX(0);
  }
}

.keterangan {
  display: inline-block; /* Ensure it's an inline block element for the animation to work */
  animation: shake 0.5s ease-in-out infinite;
}

/* mmodal */

.modal-content {
  border-radius: 1rem;
}

.modal-body {
  padding: 2rem;
}

.modal-footer {
  justify-content: center;
}

.btn-close-custom {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.btn-close-custom img {
  width: 40px;
  height: 40px;
}
/* mmodal */

@keyframes floatUpAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes floatDownAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0);
  }
}

/* Exclude floating animation for the sun */


.musim {
  animation: floatDownAnimation 2s ease-in-out infinite alternate;
}
